@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
*{
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;

}
header .container{
    width: 80%;
    position: relative;
    margin: auto;
    padding: 0 20px;
    display: flex;
    background-color: #eee;
}
header .container .logo{
    width: 40%;
    display: flex;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color: black;
    font-size: 2vw;
    align-items: center;
    font-weight: 700;
    text-transform:uppercase ;

}
nav{
    width: 60%;
    justify-content: stretch;
    flex-direction: row;
    display: flex;
    align-items: center;


}
nav a{
    flex-grow: 1;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 20px 0;
    color: black;
    font-size: 1.2vw;
}
nav a:hover{
    background-color: black;
    color: white;
}
.container::after{
    content: "";
    height: 5px;
    width: calc(100% );
    bottom: 0;
    left: 0;
    position: absolute;
    background-image:linear-gradient(to right,red 20%,green 20%,green 40%, blue 40%,blue 60%, black 60%, black 80%,white 80%) ;
}
main .image{
    margin: auto;
    width:80%;
    filter:saturate(40deg);
    -webkit-filter:saturate(40deg);
    transition-delay: 1s;
    transition-property: filter;
    transition-duration: 4s;
    transition-timing-function: ease;
}
img{
    width: 100%;

}
.image:hover{
    filter:saturate(0);
    -webkit-filter:saturate(0);
}
